---
layout: default
title: Blog
---

<div class="blog-section">
  <div class="blog-header">
    <h1>Blog</h1>
    <a href="{{ '/' | relative_url }}" class="blog-home-back">
      <i class="fas fa-arrow-left"></i> Back to Home
    </a>
  </div>

  <div id="posts" class="blog-posts">
    {% for post in site.posts %}
      <div class="blog-post-card">
        {% if post.image %}
        <img src="{{ post.image | relative_url }}" alt="{{ post.title }}" class="post-image">
        {% endif %}
        <div class="post-content">
          <h2>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </h2>
          <div class="post-meta">
            <time datetime="{{ post.date | date_to_xmlschema }}">
              {{ post.date | date: "%B %-d, %Y" }}
            </time>
          </div>
          {% if post.description %}
            <div class="post-excerpt">
              {{ post.description }}
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div> 
