---
layout: default
---
<article id="article" class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">
        {{ page.date | date: "%B %-d, %Y" }}
      </time>
    </div>
  </header>

  <div class="post-content">
    {% assign lines = content | split: "
" %}
    {% assign filtered_lines = "" | split: "" %}
    {% assign first_header_found = false %}
    {% for line in lines %}
      {% if line contains "# " and first_header_found == false %}
        {% assign first_header_found = true %}
      {% else %}
        {% assign filtered_lines = filtered_lines | push: line %}
      {% endif %}
    {% endfor %}
    {{ filtered_lines | join: "
" }}
  </div>

  <a href="{{ '/blog' | relative_url }}" class="back-button">
    <i class="fas fa-arrow-left"></i> Back to Blog
  </a>
</article> 
